[Unit]
Description=Matrix IRC gateway
After=matrix.service
Requires=matrix.service

[Service]
Type=exec
ExecStart=/usr/bin/mautrix-telegram -c /etc/matrix/telegram-config.yaml -r /etc/matrix/telegram-registration.yaml
StateDirectory=matrix-telegram
ConfigurationDirectory=matrix
