[Unit]
Description=Gitea (Git with a cup of tea)
After=network.target
#Requires=sshd.socket

#Requires=mysql.service
#Requires=mariadb.service
#Requires=postgresql.service
#Requires=memcached.service
#Requires=redis.service

[Service]
User=git
Group=www-data
WorkingDirectory=/var/lib/gitea
Environment=USER=git HOME=/var/lib/gitea GITEA_WORK_DIR=/var/lib/gitea

ExecStart=/usr/bin/gitea web -c /etc/gitea/app.ini

StateDirectory=gitea
ConfigurationDirectory=gitea

[Install]
WantedBy=multi-user.target
