[Unit]
Description=Synapse Matrix homeserver
After=network-online.target
Requires=network-online.target

[Service]
Environment=LANG=en_US.UTF-8
Environment=SYNAPSE_LOG_LEVEL=DEBUG
Environment=PYTHONDONTWRITEBYTECODE=1

ExecStart=/usr/bin/python3 -m synapse.app.homeserver -c /etc/synapse/homeserver.yaml
ExecStop=/usr/bin/synctl stop /etc/synapse/homeserver.yaml

StateDirectory=synapse
ConfigurationDirectory=synapse
