[Unit]
Description=cgit uwsgi service
After=network.target
Before=nginx.service
Requires=cgit.socket

[Service]
DynamicUser=yes
User=git
Group=git
RuntimeDirectory=git
ConfigurationDirectory=git
