[Unit]
Description=Matrix IRC gateway
After=matrix.service
Requires=matrix.service

[Service]
Type=exec
ExecStart=/usr/local/bin/matrix-appservice-irc -c /etc/matrix/irc-config.yaml -f /etc/matrix/irc-registration.yaml -p 7881
StateDirectory=matrix-appservice-irc
ConfigurationDirectory=matrix
