[Unit]
Description=Synapse - Matrix homeserver
After=network-online.target
Requires=network-online.target

[Service]
Environment=LANG=en_US.UTF-8
Environment=SYNAPSE_LOG_LEVEL=DEBUG
Environment=PYTHONDONTWRITEBYTECODE=1

ExecStart=/usr/bin/synctl start /etc/matrix/homeserver.yaml --no-daemonize
ExecStop=/usr/bin/synctl stop /etc/matrix/homeserver.yaml

StateDirectory=matrix-synapse
ConfigurationDirectory=matrix
RuntimeDirectory=matrix
